.left_title_box6{
    margin-bottom: 20px;
    .box6{
        display: flex;
        padding: 16px;
        color: #3FC3AA;
        font-size: 1.5rem;
        .left_title_box6_text{
            flex: 1;
        }
        .decoration9{
            width: 100px;
            height: 100px;
            margin-right: 20px;
        }
    }
   
}

.border_box_10 {
    margin-bottom: 20px;
    .bar_echarts {
        height: 300px;
    }
}

.Box_10_bottom {
    display: flex;
    justify-content: space-between;

    .border_box_10_left {
        width: 70%;
    }
    .border_box_10_right{
        flex: 1;
        .box_10_right_test{
            margin-top: 20px;
            font-size: 1.2rem;
            color: #32A0D7;
        }
    }
}