.left_page{
    width: 32%;
    .border_box_10{
        margin-bottom: 20px;
    }
    .border_box_13{

        padding: 70px 20px 20px 20px;

        height: 320px;
        margin-bottom: 20px;
    }
    .Box_10_bottom{
        display: flex;
        justify-content:space-between;
        .border_box_10_half{
            width: 49%;
        }
    }
    
}