.index-page{
    width: 100%;
    height: 100vh;
    background-color: #030b27ff;
    color: white;
    overflow-x: auto;
    background-size: cover !important;
    background-position: center !important;
    background: url("../assets/img/bigBgc.png");
}